# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log

# AWS
.aws/

# macOS
.DS_Store

# Terraform - fichiers locaux générés
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/tfplan-*
*.tfplan
